.mapping-builder-box.highlighted {
  border-color: var(--pf-global--warning-color--100);
}

.mapping-builder-box.highlighted,
.mapping-builder-box.highlighted .pf-c-select__toggle {
  background-color: var(--pf-global--palette--gold-50);
}

.mapping-builder-box {
  border: 1px solid #000000;
}

.mapping-item-select .pf-c-select__toggle .pf-c-select__toggle-typeahead {
  border: none;
}

.mapping-item-select .pf-c-select__toggle .pf-c-select__toggle-clear {
  display: none;
}
