.pf-c-table.plans-table tr > * {
  max-width: none;
}

.pf-c-table.plans-table tbody > tr > * {
  vertical-align: middle;
}

.pf-c-table.plans-table tbody > tr > td.pf-c-table__toggle {
  padding-bottom: var(--pf-c-table--tbody--cell--PaddingBottom);
}

.pf-c-table.plans-table tbody > tr > td.pf-c-table__toggle .pf-c-button {
  margin-top: 0;
}

.pf-c-table.plans-table table.expanded-content tr > th {
  padding-left: 0;
  font-weight: bold;
}

.pf-c-table.plans-table table.expanded-content tr > td {
  padding-left: var(--pf-global--spacer--xl);
}

.pf-c-table.plans-table button.clickable-progress-bar {
  margin: calc(0px - var(--pf-global--spacer--form-element))
    calc(0px - var(--pf-global--spacer--md));
  width: 100%;
  text-align: left;
}
