/* This shouldn't be necessary, there is (still) a weird spacing bug in PF TreeView. */
/* https://github.com/patternfly/patternfly-react/issues/5165 */

.plan-wizard-filter-vms-form .pf-c-tree-view .pf-c-tree-view__node-toggle-icon {
  padding-right: var(--pf-global--spacer--sm);
  margin-left: -24px; /* negative spacer--lg, couldn't use it in a calc() */
}

/* Exclude root node from negative margin */
.plan-wizard-filter-vms-form
  .pf-c-tree-view
  > ul
  > li.pf-c-tree-view__list-item
  > div.pf-c-tree-view__content
  > button.pf-c-tree-view__node
  > .pf-c-tree-view__node-toggle-icon {
  margin-left: var(--pf-global--spacer--md);
}
