#existing-hook-select .pf-c-select__menu-group .pf-c-select__menu-item {
  padding-left: var(--pf-global--spacer--xl);
}

.pf-c-popover.playbook-yaml-popover {
  max-width: 80vw;
}

.pf-c-popover.playbook-yaml-popover pre {
  max-height: 40vh;
  overflow-y: auto;
}

textarea#playbook-yaml {
  font-family: monospace;
}
