.status-icon-ok {
  color: var(--pf-global--success-color--100);
}

.status-icon-warning {
  color: var(--pf-global--warning-color--100);
}

.status-icon-error {
  color: var(--pf-global--danger-color--100);
}

.status-icon-disabled {
  color: var(--pf-global--disabled-color--200);
}
