.headerBrandLogo svg {
  vertical-align: middle;
}

.brand-forklift .pf-c-about-modal-box__brand-image {
  height: 256px;
}

.brand-forklift .pf-c-about-modal-box__content {
  margin-top: 0;
}

.brand-redhat .pf-c-about-modal-box__brand {
  display: none;
}

.logo.pf-c-button {
  font-size: var(--pf-global--FontSize--2xl);
  --pf-c-button--PaddingRight: .5rem;
  --pf-c-button--PaddingLeft: .5rem;
}
