name: Deploy main/release branch preview
on:
  push:
    branches:
      - main
      - release*

jobs:
  test-and-release:
    name: Deploy preview to Surge
    if: github.repository == "konveyor/forklift-ui"
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm run ci
      - name: Build in mock mode
        run: npm run build:mock
      - name: Install Surge
        run: npm install -g surge
      - name: Extract branch name for Surge URL
        shell: bash
        run: echo "##[set-output name=branch_slug;]$(echo ${GITHUB_REF#refs/heads/}- | tr . _ | sed -r 's/^main-$//g')"
        id: extract_branch
      - name: Deploy to Surge
        run: surge ./dist/ konveyor-forklift-ui-${{ steps.extract_branch.outputs.branch_slug }}preview.surge.sh --token ${{ secrets.SURGE_TOKEN }}
